.home-feature {
    height: 300px;
    width: 100%;
    display: block;
    position: relative;
    background-repeat: no-repeat; 
    background-position: center center !important; 
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
.home-tagline {
    position: absolute;
    bottom: 0px;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    font-size: 30px;
    line-height: 50px;
    padding: 20px 30px;
}

.container > .navbar-secondary {
    margin-right: -15px;
    margin-left: -15px;
}
h1.no-margins {
    margin-top: 0px;
    margin-bottom: 0px;
}
.header-buttons {
    display: block;
}
.header-buttons .btn-group {
    margin-top: 30px;
}